# SERIES IN PANDAS

In [ ]:
-IT IS USED FOR CREATE A ONE-DIMNENSIONAL ARRAY IN PYTHON USING LIST TUPLE DICTIONAY

In [11]:
#exa-
import pandas as pd
mylist=[10,20,30,40,50]

myseries=pd.Series(mylist)
print(myseries)

#check datatype-
print(type(myseries))

#getting series value using indexing-
print(myseries[3])

#passing series index-
first=pd.Series(mylist,index=['a','b','c','d','e'])
print(first)

#naming series with index-
second=pd.Series(mylist,index=['A','B','C','D','E'],name='Student_Marks')
print(second)

0    10
1    20
2    30
3    40
4    50
dtype: int64
<class 'pandas.core.series.Series'>
40
a    10
b    20
c    30
d    40
e    50
dtype: int64
A    10
B    20
C    30
D    40
E    50
Name: Student_Marks, dtype: int64

In [15]:
#SERIES USING SINGLE DATA-
data=(10)

res=pd.Series((data),index=[1,2,3,4,5])
print(res)

1    10
2    10
3    10
4    10
5    10
dtype: int64

In [17]:
#DICTIONARY TO SERIES DATA

dict={
    'Languages':['c','c++','Java','Python'],
    'Popularity':[9,8,10,8]
}

newser=pd.Series(dict)
print(newser)

Languages     [c, c++, Java, Python]
Popularity             [9, 8, 10, 8]
dtype: object

In [20]:
#PANDAS SERIES AVOID BROADCASTING AUTOMATICALLY-

var1=pd.Series(10,index=[1,2,3,4,5])
var2=pd.Series(10,index=[1,2,3])            #FOR 4 & 5 IT THROWN NAN (NOT A NUMBER) 

result=var1+var2
print(result)                   #NOT ANY THROWING ERROR

1    20.0
2    20.0
3    20.0
4     NaN
5     NaN
dtype: float64