In [1]:
import pandas as pd

In [ ]:
#Merge-it is used for join the 2 dataset in pandas.

In [11]:
var1=pd.DataFrame({"A":[10,20,30,40],"B":[1,2,3,4]})
var2=pd.DataFrame({"A":[10,20,30,40],"C":[11,12,13,14]})

res=pd.merge(var1,var2,on='A')
print(res)

    A  B   C
0  10  1  11
1  20  2  12
2  30  3  13
3  40  4  14

In [ ]:
#IF THE ID IS NOT SAME THEN IT SHOWS THE RESULT lIKE THIS-

In [15]:
var3=pd.DataFrame({"A":[10,20,30,40],"B":[1,2,3,4]})
var4=pd.DataFrame({"A":[10,20,30,50],"C":[11,12,13,14]})

res=pd.merge(var3,var4,on='A')
print(res)

    A  B   C
0  10  1  11
1  20  2  12
2  30  3  13

In [ ]:
#HOW PARAMETER FOR SHOWS THE MISSING DATA IF ID IS DIFFERENT-

In [16]:
var5=pd.DataFrame({"A":[10,20,30,40],"B":[1,2,3,4]})
var6=pd.DataFrame({"A":[10,20,30,50],"C":[11,12,13,14]})

res=pd.merge(var5,var6,how='left')
print(res)

    A  B     C
0  10  1  11.0
1  20  2  12.0
2  30  3  13.0
3  40  4   NaN

In [17]:
var5=pd.DataFrame({"A":[10,20,30,40],"B":[1,2,3,4]})
var6=pd.DataFrame({"A":[10,20,30,50],"C":[11,12,13,14]})

res=pd.merge(var5,var6,how='right')
print(res)

    A    B   C
0  10  1.0  11
1  20  2.0  12
2  30  3.0  13
3  50  NaN  14

In [18]:
var5=pd.DataFrame({"A":[10,20,30,40],"B":[1,2,3,4]})
var6=pd.DataFrame({"A":[10,20,30,50],"C":[11,12,13,14]})

res=pd.merge(var5,var6,how='outer')
print(res)

    A    B     C
0  10  1.0  11.0
1  20  2.0  12.0
2  30  3.0  13.0
3  40  4.0   NaN
4  50  NaN  14.0

# CONCAT

In [ ]:
#CONACTING THE SERIES-

In [22]:
sr1=pd.Series([10,20,30,40])
sr2=pd.Series([50,60,70,80])

res1=pd.concat([sr1,sr2])
print(res1)

0    10
1    20
2    30
3    40
0    50
1    60
2    70
3    80
dtype: int64

In [ ]:
#CONCATING THE DATAFRAME-

In [26]:
d1=pd.DataFrame({'a':[51,51,53],'b':[61,62,63]})
d2=pd.DataFrame({'a':[51,52,53],'b':[71,72,73]})

res2=pd.concat([d1,d2])
print(res2)

    a   b
0  51  61
1  51  62
2  53  63
0  51  71
1  52  72
2  53  73

In [27]:
d1=pd.DataFrame({'a':[51,51,53],'b':[61,62,63]})
d2=pd.DataFrame({'a':[51,52,53],'c':[71,72,73]})

res2=pd.concat([d1,d2])
print(res2)

    a     b     c
0  51  61.0   NaN
1  51  62.0   NaN
2  53  63.0   NaN
0  51   NaN  71.0
1  52   NaN  72.0
2  53   NaN  73.0