In [1]:
import pandas as pd

# JOIN-it is used for join 2 or more dataframe in pandas.

In [2]:
var1=pd.DataFrame({'A':[10,20,30],'B':[40,50,60]})
var2=pd.DataFrame({'C':[70,80,90],'D':[100,110,120]})

var1.join(var2)

    A   B   C    D
0  10  40  70  100
1  20  50  80  110
2  30  60  90  120

In [3]:
var2.join(var1)

    C    D   A   B
0  70  100  10  40
1  80  110  20  50
2  90  120  30  60

In [ ]:
#PASSING INDEX TO DATAFRAME.

In [8]:
var3=pd.DataFrame({'A':[10,20,30],'B':[40,50,60]},index=['A','B','C'])
var4=pd.DataFrame({'C':[70,80],'D':[100,110]},index=['A','B'])

var3.join(var4)

    A   B     C      D
A  10  40  70.0  100.0
B  20  50  80.0  110.0
C  30  60   NaN    NaN

In [ ]:
#SUFFIX WITH JOIN - IF COLUMNS NAME WILL BE SAME.

In [ ]:
it will shows the error like in following example.

In [9]:
var5=pd.DataFrame({'A':[10,20,30],'B':[40,50,60]})
var6=pd.DataFrame({'C':[70,80],'B':[100,110]})

var6.join(var5)

ValueError: columns overlap but no suffix specified: Index(['B'], dtype='object')

In [12]:
#SO USE THE SUFFIX-

var5=pd.DataFrame({'A':[10,20,30],'B':[40,50,60]})
var6=pd.DataFrame({'C':[70,80],'B':[100,110]})

var6.join(var5,lsuffix='_Demo',how='outer')

      C  B_Demo   A   B
0  70.0   100.0  10  40
1  80.0   110.0  20  50
2   NaN     NaN  30  60

# APPEND-IT ALSO JOIN THE 2 DATA FRAMES IF COLUMN NAME IS SAME IT DOES NOT REQUIRE THE SUFFIX PARAMETER.

In [15]:
var5=pd.DataFrame({'A':[10,20,30],'B':[40,50,60]})
var6=pd.DataFrame({'C':[70,80],'B':[100,110]})

var6.append(var5)

C:\Users\tejas\AppData\Local\Temp\ipykernel_20404\460643781.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  var6.append(var5)

      C    B     A
0  70.0  100   NaN
1  80.0  110   NaN
0   NaN   40  10.0
1   NaN   50  20.0
2   NaN   60  30.0