# ARITHMATIC OPERATIONS

In [27]:
#DATA FRAME ON 2D DATA WITH DICTIONARY-

import pandas as pd

In [25]:
#ADDITION-

mydata=pd.DataFrame({"A":[1,2,3,4,5],"B":[6,7,8,9,10]})

mydata['Res']=mydata["A"]+mydata["B"]
print(mydata)

   A   B  Res
0  1   6    7
1  2   7    9
2  3   8   11
3  4   9   13
4  5  10   15

In [28]:
#SUBSTRACTION-

mydata=pd.DataFrame({"A":[1,2,3,4,5],"B":[6,7,8,9,10]})

mydata['Res']=mydata["A"]  -  mydata["B"]
print(mydata)

   A   B  Res
0  1   6   -5
1  2   7   -5
2  3   8   -5
3  4   9   -5
4  5  10   -5

In [29]:
#MULTIPLICATION-

mydata=pd.DataFrame({"A":[1,2,3,4,5],"B":[6,7,8,9,10]})

mydata['Res']=mydata["A"]  *  mydata["B"]
print(mydata)

   A   B  Res
0  1   6    6
1  2   7   14
2  3   8   24
3  4   9   36
4  5  10   50

# ARITHMATIC OPERATION USING LOGICAL CONDITIONS

In [35]:
sample=pd.DataFrame({'A':[10,20,30,40,50],'B':[1,3,4,5,9]})

sample['Result']=sample["A"]<20
sample

    A  B  Result
0  10  1    True
1  20  3   False
2  30  4   False
3  40  5   False
4  50  9   False

In [42]:
sample1=pd.DataFrame({'A':[10,20,30,40,50],'B':[1,3,4,5,9]})

sample1['Result']=sample1["B"]>=5
sample1

    A  B  Result
0  10  1   False
1  20  3   False
2  30  4   False
3  40  5    True
4  50  9    True