# CREATE CSV FILE IN PANDAS

In [2]:
import pandas as pd

In [5]:
#CREATE DATAFRAME FOR CSV-

first=pd.DataFrame({'A':[10,11,12],'B':[20,21,22],'C':[30,31,32]})

first

    A   B   C
0  10  20  30
1  11  21  31
2  12  22  32

In [7]:
#CREATE CSV FILE-

first.to_csv('Empployee.csv',index=False)

In [8]:
first.to_csv('test.csv',index=False,header=['R1','R2','R3'])