In [1]:
import pandas as pd

In [3]:
mylist=[10,20,30,40,50]

first=pd.Series(mylist)
print(first)

print(type(first))

0    10
1    20
2    30
3    40
4    50
dtype: int64
<class 'pandas.core.series.Series'>

In [4]:
#GETTING SERIES VALUE USING INDEXING-

first1=pd.Series(mylist)
print(first[2])

30

In [9]:
#PASSING INDEXING TO THE SERIES-

newlist=[10,20,30]
second=pd.Series(newlist,index=['A','B','C'])
print(second)

A    10
B    20
C    30
dtype: int64

In [10]:
#NAMING TO SERIES WITH INDEXING-
newlist1=['RAM','TEJAS','MAYURI','SAI']
third=pd.Series(newlist1,index=[1,2,3,4],name='Students')
print(third)

1       RAM
2     TEJAS
3    MAYURI
4       SAI
Name: Students, dtype: object

In [37]:
data=(10)

fourth=pd.Series((data),index=[1,2,3])
print(fourth)

1    10
2    10
3    10
dtype: int64

In [47]:
#CONVERTING DICTIONARY TO SERIES

mydict={
    'Name':['Tejas Phatangare','Akash Phatangare','Sai Ghule'],
    'Add':['Sarole Pathar,Sangamner,Sangamner'],
    'Age':[21,22,23],
    'College':['Sandip University']
}

five=pd.Series(mydict)
print(five)

Name       [Tejas Phatangare, Akash Phatangare, Sai Ghule]
Add                    [Sarole Pathar,Sangamner,Sangamner]
Age                                           [21, 22, 23]
College                                [Sandip University]
dtype: object

In [49]:
#PANDAS SERIES AVOID BROADCASTING AUTOMATICALLY-

data1=(10)
data2=(20)

res1=pd.Series(data1,[1,2,3,4,5])
res2=pd.Series(data2,[1,2,3])
print(res1+res2)

1    30.0
2    30.0
3    30.0
4     NaN
5     NaN
dtype: float64

# DATA FRAME IN PANDAS

In [ ]:
#DATAFRAME-it the 2d data Structure which contains the rows & columns.

In [50]:
data1=[1,2,3,4,5,6,7,8,9]

t1=pd.DataFrame(data1)
print(t1)

   0
0  1
1  2
2  3
3  4
4  5
5  6
6  7
7  8
8  9

In [55]:
#DATA FRAME USING DICTIONARY-

dic={
    'a':[10,20,30,40,50],
    'b':[60,70,80,90,100]
}

t2=pd.DataFrame(dic)
print(t2)

    a    b
0  10   60
1  20   70
2  30   80
3  40   90
4  50  100

In [63]:
#ACCESSING A PARTICULAR COLUMNS IN DATA FRAME.

dic1={
    1:[1,2,3,4,5],
    2:[6,7,8,9,0],
    3:[0,2,4,6,8]
}

t3=pd.DataFrame(dic1,columns=[1])
print(t3)

   1
0  1
1  2
2  3
3  4
4  5

In [66]:
#ACCESSING A MULTIPLE COLUMNS IN DATA FRAME.

dic1={
    1:[1,2,3,4,5],
    2:[6,7,8,9,0],
    3:[0,2,4,6,8]
}

t3=pd.DataFrame(dic1,columns=[1,2,])
print(t3)

   1  2
0  1  6
1  2  7
2  3  8
3  4  9
4  5  0

In [72]:
#ACCESSING DATA FRAME VALUE USING INDEXING-

dt=[10,20,30,40,50]

t3=pd.DataFrame(dt)

In [77]:
#DATA FRAME USING NESTED LIST-

neslist=[[1,2,3],[4,5,6],[7,8,9]]

t4=pd.DataFrame(neslist,index=['A','B','C'])
print(t4)

   0  1  2
A  1  2  3
B  4  5  6
C  7  8  9

In [84]:
#DATA FRAME USING SERIES-

sr={
    's':pd.Series([1,2,3,4,5]),
    'r':pd.Series([6,7,8,9,0])
}

t7=pd.DataFrame(sr)
print(t7)

   s  r
0  1  6
1  2  7
2  3  8
3  4  9
4  5  0